@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Raleway:wght@100&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif; 
  background-color: lightsalmon;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: chocolate;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;background-color: blueviolet;
}

/* DID word */

.didDLetter { font-size: x-large; 
  font-weight: 788;
  color: rgb(180, 30, 100);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic; 
  background-color: darkgreen;
}

.didILetter { font-display: swap;
  font-style: capitalize;
  font-size: 60px;
  font-weight: 78;
  color: rgb(165, 29, 77);
  text-decoration: overline;
  font-family: 'roboto', sans-serif;
}

.didDTwoLetter { font-weight: 600; 
  font-size: 30px;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-style: oblique;
  background-color: beige;
}

/* THE word */

.theTLetter { text-decoration:  underline; ;
  font-family: 'Piazzolla', sans-serif;
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: thistle;
}

.theHLetter { 
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: lightsteelblue;
}

.theELetter { font-size: 30px; 
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif; background-color: mediumblue;
}

/* FRONT-END word */

.frontendFLetter { font-family: Arial, Helvetica, sans-serif; 
  font-size: 60px;
  font-weight: 788;
  color: rgb(180, 30, 100);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: start;
  background-color: lightcoral;
}

.frontendRLetter {
  font-size: 60px;
  font-weight: 788;
  color: rgb(180, 30, 100);
  text-decoration: overline;
  text-transform: gradient;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: end;
  background-color: lightgreen;
}

.frontendOLetter { 
  font-size: 30px;
  font-weight: 600;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: wheat;
}

.frontendNLetter { 
  font-size: 80px;
  font-weight: normal;
  color:rgb(154, 46, 7);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: bottom;
}

.frontendTLetter { 
  font-size: 72px;
  font-weight: bold;
  color: darkgrey;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: top;
}

.frontendELetter { font-style: inherit;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;background-color: unset;
}

.frontendNTwoLetter { 
  text-justify: inter-character;
  font-size: 60px;
  font-weight: 788;
  color: rgb(208, 58, 128);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); background-color: gray;
  text-align: bottom;
}

.frontendDLetter { 
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(219, 9, 9, 0.2);
  font-size: 60px;
  font-weight: 788;
  color: rgb(180, 30, 100);
  background-color: liar-gradient(to right, #f00, #0f0);
}

/* DEVELOPER word */

.developerDLetter { font-style: capitalize;
  font-size: 60px;
  font-weight: 788;
  color: rgb(180, 30, 100);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.developerELetter {  font-size: 60px;
  font-weight: 788;
  color: rgb(180, 30, 100);
  text-decoration: overline;
  text-transform: gradient;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.developerVLetter { font-size: 30px;
  font-weight: 600;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.developerETwoLetter { font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

.developerLLetter { font-size: 72px;
  font-weight: bold;
  color: rgb(138, 30, 50);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}
.developerOLetter { font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}
.developerPLetter { font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.developerEThreeLetter { font-size: 72px;
  font-weight: bold;
  color: rgb(22, 54, 212);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}
.developerRLetter { font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

/* TAKE word */

.takeTLetter {  font-size: 60px;
  font-weight: 788;
  color: rgb(175, 30, 180);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.takeALetter { font-size: 60px;
  font-weight: 788;
  color: rgb(75, 180, 30);
  text-decoration: overline;
  text-transform: gradient;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.takeKLetter { font-size: 30px;
  font-weight: 600;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}
.takeELetter { font-size: 80px;
  font-weight: normal;
  color: rgb(154, 46, 7);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* UP word */

.upULetter { font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}
.upPLetter { font-size: 30px;
  font-weight: bold;
  color: rgb(134, 98, 7);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

/* GARDENING word */

.gardeningGLetter { 
  font-size: 60px;
  font-weight: 788;
  color: rgb(68, 4, 34);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.gardeningALetter { 
  font-size: 60px;
  font-weight: 788;
  color: rgb(180, 30, 100);
  text-decoration: overline;
  text-transform: gradient;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.gardeningRLetter { 
  font-size: 30px;
  font-weight: 600;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  text-align: center;
}

.gardeningELetter { 
  font-size: 72px;
  font-weight: bold;
  color: rgb(143, 221, 66);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'bunggie', sans-serif;
  text-align: center;
}
.gardeningNLetter { 
  font-size: 30px;
  font-weight: bold;
  color: rgb(134, 98, 7);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'roboto', sans-serif;
  text-align: center;
}
.gardeningILetter { 
  font-size: 60px;
  font-weight: normal;
  color: rgb(154, 46, 7);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  text-align: center;
}
.gardeningNTwoLetter { 
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  text-align: center;
}
.gardeningGTwoLetter { 
  font-size: 30px;
  font-weight: bold;
  color: rgb(7, 39, 134);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* BECAUSE word */

.becauseBLetter { font-style: oblique;
  font-size: 60px;
  font-weight: 788;
  color: rgb(180, 30, 100);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.becauseELetter { 
  font-size: 60px;
  font-weight: 788;
  color: rgb(180, 103, 30);
  text-decoration: overline;
  text-transform: gradient;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.becauseCLetter,.gardeningDLetter  { 
  font-size: 30px;
  font-weight: 600;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.becauseALetter { 
  font-size: 80px;
  font-weight: normal;
  color: rgb(7, 66, 154);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseULetter { 
  font-size: 72px;
  font-weight: bold;
  color: rgb(250, 67, 140);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.becauseSLetter { 
  font-size: 30px;
  font-weight: bold;
  color: rgb(134, 98, 7);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}
.becauseETwoLetter { 
  font-size: 60px;
  font-weight: normal;
  color: rgb(7, 14, 154);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* THEY word */

.theyTLetter { font-weight: 600;
  font-size: 60px;
  font-weight: 788;
  color: rgb(180, 30, 100);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
}
.theyHLetter { 
  font-size: 60px;
  font-weight: 788;
  color: rgb(30, 45, 180);
  text-decoration: overline;
  text-transform: gradient;
  font-family: 'Piazzolla', sans-serif;
}
.theyELetter { 
  font-size: 30px;
  font-weight: 600;
  color: rgb(184, 11, 14);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: gradient(to top, #f00, #0f0);
}
.theyYLetter { 
  font-size: 80px;
  font-weight: normal;
  color: rgb(69, 231, 44);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: linear-gradient(to right, #711834, #0a74ee);
} 

/* WANTED word */

.wantedWLetter { 
  font-size: 72px;
  font-weight: bold;
  color: rgb(255, 123, 0);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  background-image: linear-gradient(to right, #8e270e, #0a74ee);
}
.wantedALetter { 
  font-size: 30px;
  font-weight: bold;
  color: rgb(11, 49, 184);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: navajowhite;
}
.wantedNLetter { 
  font-size: 60px;
  font-weight: normal;
  color: rgb(42, 183, 24);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: white;
}
.wantedTLetter { 
  font-size: 72px;
  font-weight: bold;
  color: rgb(255, 0, 89);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif; 
  background-color: lightslategray;
}
.wantedELetter { 
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: mediumseagreen;
}
.wantedDLetter { 
  font-size: 60px;
  font-weight: normal;
  color: rgb(92, 255, 80);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: oklab(lightness a b);
}

/* TO word */

.toTLetter { 
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
}
.toOLetter { 
  font-size: 30px;
  font-weight: bold;
  color: turquoise;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: lightblue;
}

/* IMPROVE word */

.improveILetter { 
  font-size: 60px;
  font-weight: 788;
  color: aquamarine;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
}
.improveMLetter { 
  font-size: 60px;
  font-weight: 788;
  color: violet;
  text-decoration: overline;
  text-transform: gradient;
  font-family: 'Piazzolla', sans-serif;background-color: lightgreen;
}
.improvePLetter { 
  font-size: 30px;
  font-weight: 600;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}
.improveRLetter { 
  font-size: 80px;
  font-weight: normal;
  color: rgb(154, 46, 7);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: linear-gradient(to right, rgb(230, 34, 161), rgb(34, 5, 224));
}
.improveOLetter { 
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  background-color: linear-gradient(to right, #f00, #0f0);
}
.improveVLetter { 
  font-size: 30px;
  font-weight: bold;
  color: rgb(134, 98, 7);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}
.improveELetter { 
  font-size: 60px;
  font-weight: normal;
  color: rgb(154, 46, 7);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  background-color: oklch(from color l c h);
}

/* THEIR word */

.theirTLetter {  
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
}
.theirHLetter { 
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: lab(from color l a b);
}
.theirELetter { 
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: antiquewhite;
}
.theirILetter { 
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  background-color: paleturquoise;
}
.theirRLetter { 
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: violet;
}

/* ROOT word */

.rootRLetter { font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  font-weight: 788;
  color: rgb(180, 30, 100);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  background-color: khaki;
}
.rootOLetter { font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  font-weight: 788;
  color: rgb(180, 30, 100);
  text-decoration: overline;
  text-transform: gradient;
  font-family: 'Piazzolla', sans-serif;
  background-color: mediumslateblue;
}
.rootOTwoLetter { font-family: cursive;
  font-size: 30px;
  font-weight: 600;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: midnightblue;
}
.rootTLetter { font-family: 'Times New Roman', Times, serif;
  font-size: 80px;
  font-weight: normal;
  color: rgb(154, 46, 7);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: linear-gradient(to right, #f00, #0f0);
}

/* SKILLS word */

.skillsSLetter { 
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  background-color: lightskyblue;
}
.skillsKLetter { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: mediumseagreen;
}
.skillsILetter {  
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: blueviolet;
}
.skillsLLetter { font-weight: 400;
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
  background-color: aliceblue;
}
.skillsLTwoLetter { 
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: lightblue;
}
.skillsSTwoLetter { 
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: cadetblue;
}

/* SYMBOLS */

.hyphen { 
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: rgb(184, 11, 14);
}
.exclamation-mark { 
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'robo', sans-serif;
  background-position: 0cm 0cm;
  background-size: 100px 100px;
}
.question-mark { 
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif; 
}